{% extends 'layout.html' %}

{% block body %}

<div class="display">
    <ul>
        {%for element in liste%}
            <li>
                <a href="{{element[0]}}">{{element[0]}} </a>
                <a href="/r/{{element[1]}}">{{element[1]}} </a>
                <a>Nombre de visite = {{element[2]}}</a>
                <a class="prob-button" href="/shorten/delete/{{element[1]}}">Delete</a>
            </li>
        {%endfor%}
    </ul>
</div>

<div class = "disp_form">
    <form action="/shorten" method ="POST">
        <input autocomplete="off" autofocus name="target_url" placeholder="Long url" type="text">
        <input type="submit" value="Raccourcir">
    </form>

    <mess>
    {%if not base_case%}

        {% if error %}
            <div class="error_msg">/!\ Failed /!\ Il y a eu un problème lors de l'insertion, vérifier qu'aucun paramètre n'est vide ou déjà dans la liste ci-dessus</div>
        {% else %}
            <div class="success_msg">Insertion effectué, le lien est effectif</div>
        {%endif%}

    {% endif %}
    </mess>
</div>
{% endblock %}